  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top fs-5">
    <div class="container-fluid">
        <a class="navbar-brand font-family-title d-inline-flex align-items-center me-5" href="#">
            <img src="../assets/images/Superlaty_LOGO.jpg" alt="" width="48" height="48" class="d-inline-block align-text-top">
            Superlaty
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
            <a href="#">
                <img src="../assets/images/account_photo.jpg" alt="" width="48" height="48" class="img-circle d-inline-block align-text-top">
            </a>
            <button type="button" class="btn-close btn-close-white text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav flex-grow-1 pe-3 gap-2">
            <li class="nav-item">
              <a class="nav-link active d-inline-flex align-items-center  gap-1" aria-current="page" href="#">
                <span class="material-symbols-outlined fill-icon">home</span>
                首頁
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle d-inline-flex align-items-center gap-1" href="#" id="offcanvasNavbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="material-symbols-outlined">
                    rocket_launch
                </span>
                設計
              </a>
              <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown1">
                <li><a class="dropdown-item" href="#">創建會員</a></li>
                <li><a class="dropdown-item" href="#">發行憑證</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle d-inline-flex align-items-center  gap-1" href="#" id="offcanvasNavbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="material-symbols-outlined">
                        cached
                    </span>
                    交易池子
                </a>
                <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown2">
                  <li><a class="dropdown-item" href="#">建立池子</a></li>
                  <li><a class="dropdown-item" href="#">管理池子</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle d-inline-flex align-items-center  gap-1" href="#" id="offcanvasNavbarDropdown3" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="material-symbols-outlined">
                        group
                    </span>
                    會員社群
                </a>
                <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown3">
                  <li><a class="dropdown-item" href="#">新增社群</a></li>
                  <li><a class="dropdown-item" href="#">管理社群</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle d-inline-flex align-items-center  gap-1" href="#" id="offcanvasNavbarDropdown4" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="material-symbols-outlined">
                        bolt
                    </span>
                    儀表板
                </a>
                <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown4">
                  <li><a class="dropdown-item" href="#">數據分析</a></li>
                  <li><a class="dropdown-item" href="#">C R M</a></li>
                </ul>
            </li>
          </ul>        
        </div>
        </div>
        <a class="font-family-title me-5 d-none d-lg-block" href="#">
            <img src="../assets/images/account_photo.jpg" alt="" width="48" height="48" class="img-circle d-inline-block align-text-top">
        </a>
    </div>
  </nav>