<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <%- include('./layout/head'); -%>
  </head>
  <body>
    <%- include('./layout/client_header'); -%>
    <main>
        <div class="container py-5" style="margin-top: 68px;">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-8 col-md-9 col-12 mb-lg-0 mb-5">
                    <div class="position-sticky div-sticy-top form-sm-shadow p-lg-5 pb-lg-4 p-sm-4 px-3 py-0">
                        <h2 class="text-primary text-center fw-bold mb-4">鴨嘴獸俱樂部</h2>
                        <div class="d-flex justify-content-center mb-4">
                            <div class="img-wrapper ratio ratio-1x1 w-50">
                                <img src="../assets/images/design_7.jpg" class="rounded shadow-sm" alt="Brand ${brandName} Image">
                            </div>
                        </div>
                        <div class="mb-4"> 
                            <h3 class="fs-5">品牌類別</h3>
                            <span class="badge bg-primary shadow-sm rounded-pill fs-6" for="brandType_technology" >
                                科技產品與服務
                            </span>
                            <span class="badge bg-primary shadow-sm rounded-pill fs-6" for="brandType_catering_lifestyle" >
                                飲食與生活
                            </span>
                        </div>
                        <div class="mb-4 border-bottom">
                            <h3 class="fs-5">品牌介紹</h3>
                            <p>
                                為卡牌愛好者提供一個安全、可靠的交易平台。<br/>
                                利用區塊鏈技術，賦予品牌和消費者更多權利和透明度。<br/>
                                為品牌提供創新的解決方案，以提高效率和增長。<br/>
                            </p>
                        </div>
                        <div class="mb-3">
                            <h2 class="text-primary text-center fw-bold mb-3">持有會員卡</h2>
                            <!-- Accordion List start -->
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item">
                                  <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                        <span class="material-symbols-outlined fill-icon me-2">id_card</span>
                                        Raccoon Club
                                    </button>
                                  </h2>
                                  <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body p-2">
                                        <a href="#" class="text-decoration-none">
                                            <div class="row g-2">
                                                <div class="col-4">
                                                    <div class="img-wrapper ratio ratio-1x1">
                                                        <img src="../assets/images/design_1.jpg" class="rounded" alt="Membership Card(Raccoon Club) Image">
                                                    </div>
                                                </div>
                                                <div class="col-8">
                                                    <div class="card-body d-flex flex-column h-100">
                                                        <h4 class="card-title">Raccoon Club</h4>
                                                        <p class="card-text flex-grow-1 my-2">
                                                            會員卡說明會員卡說明會員卡說明會員卡說明
                                                        </p>
                                                        <p class="card-text text-end"><small class="text-muted">價值：$750</small></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                  </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="heading2">
                                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                          <span class="material-symbols-outlined fill-icon me-2">id_card</span>
                                          科技鴨嘴獸
                                      </button>
                                    </h2>
                                    <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2" data-bs-parent="#accordionExample">
                                      <div class="accordion-body p-2">
                                          <a href="#" class="text-decoration-none">
                                              <div class="row g-2">
                                                  <div class="col-4">
                                                    <div class="img-wrapper ratio ratio-1x1">
                                                        <img src="../assets/images/design_11.jpg" class="rounded" alt="Membership Card(Raccoon Club) Image">
                                                    </div>
                                                  </div>
                                                  <div class="col-8">
                                                      <div class="card-body d-flex flex-column h-100">
                                                            <h4 class="card-title">科技鴨嘴獸</h4>
                                                            <p class="card-text flex-grow-1 my-2">
                                                                會員卡說明會員卡說明會員卡說明會員卡說明會員卡說明會員卡說明
                                                            </p>
                                                            <p class="card-text text-end"><small class="text-muted">價值：$1314</small></p>
                                                      </div>
                                                  </div>
                                              </div>
                                          </a>
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Accordion List end -->
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-8 col-md-9 col-12 p-lg-5 pb-lg-4 p-sm-4 px-3 py-0">
                    <h2 class="fs-2 fw-bold text-center pb-3 mb-3">持有品牌憑證</h2>
                    <!-- List Group start -->
                    <div class="list-group list-group-flush">
                        <a href="#" class="list-group-item list-group-item-action list-group-item-light">
                            <div class="row g-2">
                                <div class="col-4">
                                    <div class="img-wrapper ratio ratio-1x1">
                                        <img src="../assets/images/design_12.jpg" class="rounded" alt="Certificate(鴨嘴獸飛行點數) Image">
                                    </div>
                                </div>
                                <div class="col-8">
                                    <div class="d-flex flex-column h-100">
                                        <h4 class="card-title text-dark d-flex justify-content-between align-items-center mb-1">鴨嘴獸飛行點數 
                                            <!-- <button class="btn d-sm-inline-flex d-none border-0 rounded-0 align-items-center gap-1 text-secondary fill-icon fw-bolder align-self-end lh-1 p-0">
                                                <span class="material-symbols-outlined fs-3">bookmark_added</span>
                                                已持有
                                            </button> -->
                                        </h4>
                                        <div class="d-flex justify-content-between flex-wrap">
                                            <span class="d-flex align-items-center">
                                                <span class="material-symbols-outlined fill-icon me-2">id_card</span>
                                                科技鴨嘴獸
                                            </span>
                                            <span class="d-inline-flex align-items-center badge rounded-pill bg-primary">
                                                <span class="material-symbols-outlined fill-icon fs-6">hexagon</span>
                                                520
                                            </span>
                                        </div>
                                        <p class="card-text flex-grow-1 my-2">
                                            憑證說明憑證說明憑證說明憑證說明<br/>
                                            憑證說明憑證說明憑證說明...
                                        </p>
                                        <p class="card-text text-end"><small class="text-muted">價值：$520</small></p>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action list-group-item-light">
                            <div class="row g-2">
                                <div class="col-4">
                                    <div class="img-wrapper ratio ratio-1x1">
                                        <img src="../assets/images/design_14.jpg" class="rounded" alt="Certificate(鴨嘴獸飛行體驗券) Image">
                                    </div>
                                </div>
                                <div class="col-8 h-100">
                                    <div class="d-flex flex-column">
                                        <h4 class="card-title text-dark d-flex justify-content-between align-items-center mb-1">鴨嘴獸飛行體驗券
                                        </h4>
                                        <div class="d-flex justify-content-between flex-wrap">
                                            <span class="d-flex align-items-center">
                                                <span class="material-symbols-outlined fill-icon me-2">id_card</span>
                                                科技鴨嘴獸
                                            </span>
                                            <span class="d-inline-flex align-items-center badge rounded-pill bg-primary">
                                                <span class="material-symbols-outlined fill-icon fs-6">label</span>
                                                票券
                                            </span>
                                        </div>
                                        <p class="card-text flex-grow-1 my-2">
                                            憑證說明憑證說明憑證<br/>
                                            憑證說明說明憑證說明...
                                        </p>
                                        <div class="d-flex justify-content-between">
                                            <p class="card-text"><small class="text-danger">期限：06/28</small></p>
                                            <p class="card-text"><small class="text-muted">價值：$794</small></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action list-group-item-light">
                            <div class="row g-2">
                                <div class="col-4">
                                    <div class="img-wrapper ratio ratio-1x1">
                                        <img src="../assets/images/design_9.jpg" class="rounded" alt="Certificate(Raccoon電子音響) Image">
                                    </div>
                                </div>
                                <div class="col-8 h-100">
                                    <div class="d-flex flex-column">
                                        <h4 class="card-title text-dark d-flex justify-content-between align-items-center mb-1">Raccoon電子音響 
                                        </h4>
                                        <div class="d-flex justify-content-between flex-wrap">
                                            <span class="d-flex align-items-center">
                                                <span class="material-symbols-outlined fill-icon me-2">id_card</span>
                                                Raccoon Club
                                            </span>
                                            <span class="d-inline-flex align-items-center badge rounded-pill bg-primary">
                                                <span class="material-symbols-outlined fill-icon fs-6">markunread_mailbox</span>
                                                抽獎
                                            </span>
                                        </div>
                                        <p class="card-text flex-grow-1 my-2">
                                            憑證說明憑證<br/>
                                            憑證說明憑證說明憑證說明...
                                        </p>
                                        <div class="d-flex justify-content-between">
                                            <p class="card-text"><small class="text-danger">開獎：07/19</small></p>
                                            <p class="card-text"><small class="text-muted">價值：$750</small></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- List Group end -->
                    <div class="d-flex py-2">
                        <div class="border-bottom flex-grow-1 h-50 fs-6">&nbsp;</div>
                        <h3 class="text-gray text-center pt-1 px-2">尚未持有憑證</h3>
                        <div class="border-bottom flex-grow-1 h-50 fs-6">&nbsp;</div>
                    </div>
                    
                    <!-- List Group start -->
                    <div class="list-group list-group-flush">
                        <a href="#" class="list-group-item list-group-item-action list-group-item-light">
                            <div class="row g-2">
                                <div class="col-4">
                                    <div class="img-wrapper ratio ratio-1x1">
                                        <img src="../assets/images/design_10.jpg" class="rounded" alt="Certificate(鴨嘴獸區塊鏈連動) Image">
                                    </div>
                                </div>
                                <div class="col-8 h-100">
                                    <div class="d-flex flex-column">
                                        <h4 class="card-title d-flex justify-content-between align-items-center mb-1">鴨嘴獸區塊鏈連動 
                                            <button class="btn d-sm-inline-flex d-none border-0 rounded-0 align-items-center gap-1 text-secondary hover-fill-icon fw-bolder align-self-end lh-1 p-0">
                                                <span class="material-symbols-outlined fs-3">bookmark_add</span>
                                                取得
                                            </button>
                                        </h4>
                                        <div class="d-flex justify-content-between flex-wrap">
                                            <span class="d-flex align-items-center">
                                                <span class="material-symbols-outlined fill-icon me-2">id_card</span>
                                                科技鴨嘴獸
                                            </span>
                                            <span class="d-inline-flex align-items-center badge rounded-pill bg-primary">
                                                <span class="material-symbols-outlined fill-icon fs-6">linked_services</span>
                                                合作
                                            </span>
                                        </div>
                                        <p class="card-text flex-grow-1 my-2">
                                            憑證說明憑證說明憑證說明憑證說明
                                        </p>
                                        <p class="card-text text-end"><small class="text-muted">價值：$xxx</small></p>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action list-group-item-light">
                            <div class="row g-2">
                                <div class="col-4">
                                    <div class="img-wrapper ratio ratio-1x1">
                                        <img src="../assets/images/design_4.jpg" class="rounded" alt="Certificate(Raccoin) Image">
                                    </div>
                                </div>
                                <div class="col-8 h-100">
                                    <div class="d-flex flex-column">
                                        <h4 class="card-title d-flex justify-content-between align-items-center mb-1">Raccoin 
                                            <button class="btn d-sm-inline-flex d-none border-0 rounded-0 align-items-center gap-1 text-secondary hover-fill-icon fw-bolder align-self-end lh-1 p-0">
                                                <span class="material-symbols-outlined fs-3">bookmark_add</span>
                                                取得
                                            </button>
                                        </h4>
                                        <div class="d-flex justify-content-between flex-wrap">
                                            <span class="d-flex align-items-center">
                                                <span class="material-symbols-outlined fill-icon me-2">id_card</span>
                                                Raccoon Club
                                            </span>
                                            <span class="d-inline-flex align-items-center badge rounded-pill bg-primary">
                                                <span class="material-symbols-outlined fill-icon fs-6">hexagon</span>
                                                xxx
                                            </span>
                                        </div>
                                        <p class="card-text flex-grow-1 my-2">
                                            憑證說明憑證說明憑
                                            憑證說明憑證說明憑證說明...
                                        </p>
                                        <p class="card-text text-end"><small class="text-muted">價值：$xxx</small></p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- List Group end -->
                </div>
            </div>
        </div>  
    </main>

    <%- include('./layout/footer'); -%>
    
    <!-- 嵌入jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script type="module" src="../main.js"></script>
  </body>
</html>
