<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <%- include('./layout/head'); -%>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="container-fluid bg-blue-gradient" style="margin-top: 68px;">
      <div class="container">
        <div class="row">
            <div class="col py-4">
                <div class="d-flex flex-wrap align-items-end ps-3">
                    <h1 class="display-4 fw-bold me-5">發行憑證</h1>
                    <p class="d-inline-flex align-items-center fs-4 gap-1">
                        <span class="material-symbols-outlined">info</span>
                        選擇憑證模組，與會員增添火花！
                    </p>
                </div>
                
                <!-- Card List with Horizontal image start -->
                <div class="cards-list mt-5" style="min-height: 80vh;">
                <div class="row row-cols-2 g-3">
                    <div class="col">
                        <a href="issuedMembershupPoint.html">
                            <div class="card">
                                <div class="row g-0">
                                <div class="col-md-4 img-cover" style="background-image: url('../assets/images/certificate_img1.jpg');">
                                    <div class="position-relative" style="height: 100%; min-height: 150px;">
                                        <h4 class="card-title position-absolute top-50 start-50 translate-middle text-white text-stroke fw-bold">會員點數</h4>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                    <p class="card-text px-3">設置品牌專屬點數，為會員制注入靈魂，使會員更加積極參與品牌的活動和服務，吸引更多潛在客戶並促進回購率。</p>
                                    <p class="card-text px-3">使用ERC20協議為標準，以同質化代幣形式發行，將模組規格統一，讓品牌更方便管理；且可在交易池實際部署上鏈，讓會員點數流通世界。</p>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col">
                        <a href="issuedTicket.html">
                            <div class="card">
                                <div class="row g-0">
                                    <div class="col-md-4 img-cover" style="background-image: url('../assets/images/certificate_img2.jpg');">
                                        <div class="position-relative" style="height: 100%; min-height: 150px;">
                                            <h4 class="card-title position-absolute top-50 start-50 translate-middle text-white text-stroke fw-bold">賦能票券</h4>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <p class="card-text px-3">賦能票券為數位票券，品牌提供專屬的賦能，並整合收費系統，帶來多元獨特的會員體驗，適合舉辦活動、實體兌換等需要票券驗證的品牌。</p>
                                            <p class="card-text px-3">使用ERC1155協議為標準，以非同質化代幣形式發行，未來可在交易池實際部署上鏈，讓賦能票券得以流通，創造二級市場。</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col">
                        <a href="issuedLuckyDraw.html">
                            <div class="card">
                                <div class="row g-0">
                                    <div class="col-md-4 img-cover" style="background-image: url('../assets/images/certificate_img3.jpg');">
                                        <div class="position-relative" style="height: 100%; min-height: 150px;">
                                            <h4 class="card-title position-absolute top-50 start-50 translate-middle text-white text-stroke fw-bold">抽獎禮物</h4>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <p class="card-text px-3">給會員來點驚喜！若是想吸引眼球，或是要慶祝特定時刻，抽獎禮物都是品牌的好方法！建立起與會員及非會員的互動，提高品牌的人情味。</p>
                                            <p class="card-text px-3">抽獎禮物的憑證可用ERC20或ERC1155協議標準發行，為品牌對抽獎的禮物提供更大操作空間，並促進更有趣的會員環境。</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col">
                        <a href="issuedCooperation.html">
                            <div class="card">
                                <div class="row g-0">
                                    <div class="col-md-4 img-cover" style="background-image: url('../assets/images/certificate_img4.jpg');">
                                        <div class="position-relative" style="height: 100%; min-height: 150px;">
                                            <h4 class="card-title position-absolute top-50 start-50 translate-middle text-white text-stroke fw-bold">聯名合作</h4>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <p class="card-text px-3">品牌+品牌=擴大受眾！聯名合作可以將品牌間的受眾合併，帶來獨特的產品或服務體驗，吸引更多會員，創造前所未有的品牌價值和特色形象。</p>
                                            <p class="card-text px-3">聯名合作的憑證可用ERC20或ERC1155協議標準發行，為品牌對抽獎的禮物提供更大操作空間，並促進更有趣的會員環境。</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                </div>
                <!-- Card List with Horizontal image end -->

            </div>
        </div>
      </div>  
    </div>
    

    <%- include('./layout/footer'); -%>

    <!-- 嵌入jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script type="module" src="../main.js"></script>
  </body>
</html>
