<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <%- include('./layout/head'); -%>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="container-fluid bg-blue-gradient" style="margin-top: 68px;">
      <div class="container">
        <h1 class="pt-3">創建付費會員</h1>

        <!-- form start -->
        <!-- 使用Flex "d-flex flex-wrap flex-column justify-content-center align-items-center"
        form-lg-max-height：992px以上設置max-height屬性
        改變電腦/手機接面的呈現順序(注意斷點lg:992px)
        form-lg-border-none：992px以上不顯示border -->
        <form action="#" method="post" class="row d-flex flex-wrap flex-column justify-content-center align-items-center form-lg-border-none form-lg-max-height p-3 my-4 g-3">
            <h2 class="d-lg-none text-secondary text-center border-bottom pb-3">設定會員資料</h2>
            <!-- 照片上傳 
            order-lg-1 -->
            <div class="col-lg-6 d-flex order-lg-1 justify-content-center align-items-center mb-3">
                <div>
                    <label for="image-upload">
                      <div class="profile-image" style="background-image: url(../assets/images/member_img3.jpg);"><!-- 預設圖片 -->
                        <span class="material-symbols-outlined">
                            image
                        </span>
                      </div> 
                    </label>
                    <input type="file" class="d-none" id="image-upload" accept="image/*">
                </div>
            </div>
            <!-- 基本資訊 
            order-lg-3
            form-lg-border：992px以上顯示border -->
            <div class="col-lg-6 order-lg-3 form-lg-border p-lg-5 p-3">
                <h2 class="d-lg-block d-none text-secondary text-center border-bottom pb-3 mb-3">設定會員資料</h2>
                <div class="row g-3">
                    <div class="col-6 mb-3">
                        <label for="name" class="form-label">會員名稱</label>
                        <input type="text" class="form-control" id="name" required>
                    </div>
                    <div class="col-6 mb-3">
                        <label for="id" class="form-label">會員代號</label>
                        <input type="text" class="form-control" id="id" required>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="project" class="form-label">選擇連結憑證專案</label>
                    <select class="form-select" id="project">
                        <option selected disabled >選擇專案</option>
                        <option value="project1">專案1</option>
                        <option value="project2">專案2</option>
                        <option value="project3">專案3</option>
                    </select>
                </div>
                <div class="row gx-3">
                    <p class="form-label">會員付費機制</p>
                    <div class="col-6 mb-3">
                        <select class="form-select" id="interval">
                            <option selected disabled >間隔時間</option>
                            <option value="One-time">一次性付費</option>
                            <option value="monthly">月訂閱</option>
                            <option value="annual">年訂閱</option>
                        </select>
                    </div>
                    <div class="col-6 mb-3">
                        <div class="input-group">
                            <input type="number" class="form-control" id="intervalPrice"  placeholder="付費價格" aria-label="Enter the amount and use the drop-down buttons to select the currency type"  checked>
                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">選擇幣種</button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <img src="../assets/images/tether-usdt-logo.svg" alt="Option 3" class="me-2" width="24"> USDT
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <img src="../assets/images/ethereum-eth-logo.svg" alt="Option 3" class="me-2" width="24"> ETH
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <img src="../assets/images/bitcoin-btc-logo.svg" alt="Option 3" class="me-2" width="24"> BTC
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col-6 mb-3">
                        <label for="quantity" class="form-label">數量</label>
                    <input type="number" class="form-control" id="quantity" checked>
                    </div>
                    <div class="col-6 mb-3">
                        <label for="price" class="form-label">價格</label>
                        <div class="input-group">
                            <input type="number" class="form-control" id="price" aria-label="Enter the amount and use the drop-down buttons to select the currency type"  checked>
                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">選擇幣種</button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <img src="../assets/images/tether-usdt-logo.svg" alt="Option 3" class="me-2" width="24"> USDT
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <img src="../assets/images/ethereum-eth-logo.svg" alt="Option 3" class="me-2" width="24"> ETH
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <img src="../assets/images/bitcoin-btc-logo.svg" alt="Option 3" class="me-2" width="24"> BTC
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <p class="form-label">會員特性(未來均能改)</p>
                    <div class="btn-group w-100 mb-2" role="group" aria-label="privacy">
                        <input type="radio" class="btn-check" name="privacy" id="public" value="public" checked>
                        <label class="btn btn-outline-secondary" for="public">公開</label>
                        <input type="radio" class="btn-check" name="privacy" id="private" value="private">
                        <label class="btn btn-outline-secondary" for="private">私人</label>
                    </div>
                    <div class="btn-group w-100 mb-2" role="group" aria-label="trade privileges">
                        <input type="radio" class="btn-check" name="tradPrivileges" id="free" value="free" checked>
                        <label class="btn btn-outline-secondary" for="free">自由交易</label>
                        <input type="radio" class="btn-check" name="tradPrivileges" id="restricted" value="restricted">
                        <label class="btn btn-outline-secondary" for="restricted">權限交易</label>
                        <input type="radio" class="btn-check" name="tradPrivileges" id="unavailable" value="unavailable">
                        <label class="btn btn-outline-secondary" for="unavailable">不可交易</label>
                    </div>
                    <div class="btn-group w-100 mb-2" role="group" aria-label="transfer permission">
                        <input type="radio" class="btn-check" name="transferPermission" id="transferable" value="transferable" checked>
                        <label class="btn btn-outline-secondary" for="transferable">可轉讓</label>
                        <input type="radio" class="btn-check" name="transferPermission" id="non-transferable" value="non-transferable">
                        <label class="btn btn-outline-secondary" for="non-transferable">不可轉讓</label>
                    </div>
                    <div class="btn-group w-100 mb-2" role="group" aria-label="re-casting Privileges">
                        <input type="radio" class="btn-check" name="recastingPrivilege" id="re-castable" value="re-castable" checked>
                        <label class="btn btn-outline-secondary" for="re-castable">可重複鑄造</label>
                        <input type="radio" class="btn-check" name="recastingPrivilege" id="non-recastable" value="non-recastable">
                        <label class="btn btn-outline-secondary" for="non-recastable">不可重複鑄造</label>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="externalLink1" class="form-label">外部連結</label>
                    <input type="url" class="form-control" id="externalLink1" placeholder="https://">
                </div>
                <div class="mb-3">
                    <label for="textarea1" class="form-label">其他敘述</label>
                    <textarea class="form-control" id="textarea1" rows="3"></textarea>
                </div>
            </div>
            <!-- 創建按鈕 
            order-lg-2 -->
            <button type="submit" class="btn btn-primary order-lg-2 col-lg-5">提交</button>
        </form>
        <!-- form end -->
      </div>  
    </div>
    

    <%- include('./layout/footer'); -%>

    <!-- 嵌入jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script type="module" src="../main.js"></script>
  </body>
</html>
