<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <%- include('./layout/head'); -%>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="container-fluid bg-blue-gradient" style="margin-top: 68px;">
      <div class="container py-4">

        <div class="row align-items-center mb-3">
          <div class="col">
              <h1 class="d-inline display-4 fw-bold py-2">交易池子</h1>
          </div>
        </div>
        <div class="d-flex justify-content-start align-items-center flex-nowrap gap-3 overflow-auto scrollbar-none mb-3">
            <div>
                <input class="btn-check" type="checkbox" value="brand" id="btncheck1" autocomplete="off">
                <label class="btn btn-outline-primary rounded-pill" for="btncheck1" style="min-width: 59px;">
                    品牌
                </label>
            </div>
            <div>
                <input class="btn-check" type="checkbox" value="music" id="btncheck2" autocomplete="off">
                <label class="btn btn-outline-primary rounded-pill" for="btncheck2" style="min-width: 59px;">
                    音樂
                </label>
            </div>
            <div>
                <input class="btn-check" type="checkbox" value="individual" id="btncheck3" autocomplete="off">
                <label class="btn btn-outline-primary rounded-pill" for="btncheck3" style="min-width: 59px;">
                    個人
                </label>
            </div>
            <div>
                <input class="btn-check" type="checkbox" value="enterprises" id="btncheck4" autocomplete="off">
                <label class="btn btn-outline-primary rounded-pill" for="btncheck4" style="min-width: 59px;">
                    企業
                </label>
            </div>
            <div>
                <input class="btn-check" type="checkbox" value="club" id="btncheck5" autocomplete="off">
                <label class="btn btn-outline-primary rounded-pill" for="btncheck5" style="min-width: 74px;">
                    俱樂部
                </label>
            </div>
            <div>
                <input class="btn-check" type="checkbox" value="separateIssue" id="btncheck6" autocomplete="off">
                <label class="btn btn-outline-primary rounded-pill" for="btncheck6" style="min-width: 108px;">
                    獨立發行
                </label>
            </div>
            <div>
                <input class="form-control search-bg-img border-primary rounded-pill bg-color-none m-1 ps-5" style="min-width: 196px;" id="searchBar_pool" type="search" placeholder="Search anything......" aria-label="Search">
            </div>
        </div>

        <!-- Card List start -->
        <div class="d-flex justify-content-start align-items-center flex-nowrap gap-3 overflow-auto scrollbar-none mb-3" role="listbox">
            <div role="option" style="min-width: 300px;">
                <a href="#">
                    <div class="card">
                        <div class="img-wrapper ratio ratio-1x1">
                            <img src="../assets/images/design_1.jpg" class="card-img-top" alt="tool_img1">
                        </div>  
                        <div class="card-img-overlay d-inline-block bg-color-light top-auto">
                            <h5 class="card-title text-truncate mb-0">
                                Raccoon Club</br>
                                價格：$0.02
                            </h5>
                        </div>
                    </div>
                </a>
            </div>
            <div role="option" style="min-width: 300px;">
                <a href="#">
                    <div class="card">
                        <div class="img-wrapper ratio ratio-1x1">
                            <img src="../assets/images/design_6.jpg" class="card-img-top" alt="tool_img1">
                        </div>  
                        <div class="card-img-overlay d-inline-block bg-color-light top-auto">
                            <h5 class="card-title text-truncate mb-0">
                                YOASOBI</br>
                                價格：$520
                            </h5>
                        </div>
                    </div>
                </a>
            </div>
            <div role="option" style="min-width: 300px;">
                <a href="#">
                    <div class="card">
                        <div class="img-wrapper ratio ratio-1x1">
                            <img src="../assets/images/tango_LOGO.jpg" class="card-img-top" alt="tool_img1">
                        </div>  
                        <div class="card-img-overlay d-inline-block bg-color-light top-auto">
                            <h5 class="card-title text-truncate mb-0">
                                TENGO Brands</br>
                                價格：$2.12
                            </h5>
                        </div>
                    </div>
                </a>
            </div>
            <div role="option" style="min-width: 300px;">
                <a href="#">
                    <div class="card">
                        <div class="img-wrapper ratio ratio-1x1">
                            <img src="../assets/images/apple_img.jpg" class="card-img-top" alt="tool_img1">
                        </div>  
                        <div class="card-img-overlay d-inline-block bg-color-light top-auto">
                            <h5 class="card-title text-truncate mb-0">
                                Apple Inc.</br>
                                價格：$3
                            </h5>
                        </div>
                    </div>
                </a>
            </div>
            <div role="option" style="min-width: 300px;">
                <a href="#">
                    <div class="card">
                        <div class="img-wrapper ratio ratio-1x1">
                            <img src="../assets/images/SCU_LOGO.png" class="card-img-top" alt="tool_img1">
                        </div>  
                        <div class="card-img-overlay d-inline-block bg-color-light top-auto">
                            <h5 class="card-title text-truncate mb-0">
                                SCU Blockchain Research Society</br>
                                價格：$25
                            </h5>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <!-- Card List end -->

        <div class="col mb-3">
        <div class="btn-group" role="group" aria-label="filter pool">
            <input type="radio" class="btn-check" name="filterPool" id="trend" value="trend" checked>
            <label class="btn btn-outline-dark" for="trend">趨勢</label>
            <input type="radio" class="btn-check" name="filterPool" id="all" value="all">
            <label class="btn btn-outline-dark" for="all">全部</label>
        </div>
        </div>

        <!-- Table start -->
        <div class="table-responsive scrollbar-none">
          <table class="table table-hover align-middle">
            <thead>
              <tr>
                <th scope="col" style="min-width: 48px;">排行</th>
                <th scope="col" style="min-width: 240px;">池子</th>
                <th scope="col" style="min-width: 80px;">市場價格</th>
                <th scope="col" style="min-width: 64px;">交易量</th>
              </tr>
            </thead>
            <tbody>
              <tr class="position-relative">
                <th scope="row">
                  01
                  <a href="#" class="d-inline-block position-absolute top-0 start-0 w-100 h-100"></a>
                </th>
                <td class="d-flex align-items-center">
                  <span class="img-wrapper ratio ratio-1x1 d-inline-block me-2">
                    <img src="../assets/images/design_1.jpg" class="table-inline-img" alt="Raccoon Club Image">
                  </span>
                  <span class="text-truncate">Raccoon Club</span>
                </td>
                <td>
                  $0.02
                </td>
                <td>
                  $6,666,666
                </td>
              </tr>
              <tr class="position-relative">
                <th scope="row">
                  02
                  <a href="#" class="d-inline-block position-absolute top-0 start-0 w-100 h-100"></a>
                </th>
                <td class="d-flex align-items-center flex-wrap">
                  <span class="img-wrapper ratio ratio-1x1 d-inline-block me-2">
                    <img src="../assets/images/design_6.jpg" class="table-inline-img" alt="YOASOBI Image">
                  </span>
                  <span class="text-truncate">YOASOBI</span>
                </td>
                <td>
                  $520
                </td>
                <td>
                  $5,205,200
                </td>
              </tr>
              <tr class="position-relative">
                <th scope="row">
                  03
                  <a href="#" class="d-inline-block position-absolute top-0 start-0 w-100 h-100"></a>
                </th>
                <td class="d-flex align-items-center">
                  <span class="img-wrapper ratio ratio-1x1 d-inline-block me-2">
                    <img src="../assets/images/tango_LOGO.jpg" class="table-inline-img" alt="Tango LOGO Image">
                  </span>
                  <span class="text-truncate">TENGO Brands</span>
                </td>
                <td>
                  $2.12
                </td>
                <td>
                  $3,008,432
                </td>
              </tr>
              <tr class="position-relative">
                <th scope="row">
                  04
                  <a href="#" class="d-inline-block position-absolute top-0 start-0 w-100 h-100"></a>
                </th>
                <td class="d-flex align-items-center">
                  <span class="img-wrapper ratio ratio-1x1 d-inline-block me-2">
                    <img src="../assets/images/apple_img.jpg" class="table-inline-img" alt="Apple Logo Image">
                  </span>
                  <span class="text-truncate">Apple Inc.</span>
                </td>
                <td>
                  $3
                </td>
                <td>
                  $2,246,844
                </td>
              </tr>
              <tr class="position-relative">
                <th scope="row">
                  05
                  <a href="#" class="d-inline-block position-absolute top-0 start-0 w-100 h-100"></a>
                </th>
                <td class="d-flex align-items-center">
                  <span class="img-wrapper ratio ratio-1x1 d-inline-block me-2">
                    <img src="../assets/images/SCU_LOGO.png" class="table-inline-img" alt="SCU LOGO Image">
                  </span>
                  <span class="text-truncate">SCU Blockchain Research Society</span>
                </td>
                <td>
                  $25
                </td>
                <td>
                  $1,000,000
                </td>
              </tr>
              <tr class="position-relative">
                <th scope="row">
                  06
                  <a href="#" class="d-inline-block position-absolute top-0 start-0 w-100 h-100"></a>
                </th>
                <td class="d-flex align-items-center">
                  <span class="img-wrapper ratio ratio-1x1 d-inline-block me-2">
                    <img src="../assets/images/design_7.jpg" class="table-inline-img" alt="俱樂部限量卡 Image">
                  </span>
                  <span class="text-truncate">俱樂部限量卡</span>
                </td>
                <td>
                  $0.2
                </td>
                <td>
                  $960,102
                </td>
              </tr>
              <tr class="position-relative">
                <th scope="row">
                  07
                  <a href="#" class="d-inline-block position-absolute top-0 start-0 w-100 h-100"></a>
                </th>
                <td class="d-flex align-items-center">
                  <span class="img-wrapper ratio ratio-1x1 d-inline-block me-2">
                    <img src="../assets/images/DogeDAO_img.jpg" class="table-inline-img" alt="DogeDAO Image">
                  </span>
                  <span class="text-truncate">DogeDAO</span>
                </td>
                <td>
                  $66
                </td>
                <td>
                  $666,666
                </td>
              </tr>
              <tr class="position-relative">
                <th scope="row">
                  08
                  <a href="#" class="d-inline-block position-absolute top-0 start-0 w-100 h-100"></a>
                </th>
                <td class="d-flex align-items-center">
                  <span class="img-wrapper ratio ratio-1x1 d-inline-block me-2">
                    <img src="../assets/images/DataGO_img.jpg" class="table-inline-img" alt="DataGO Company Image">
                  </span>
                  <span class="text-truncate">DataGO Company</span>
                </td>
                <td>
                  $10
                </td>
                <td>
                  $560,430
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- Table end -->

      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <!-- 嵌入jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script type="module" src="../main.js"></script>
  </body>
</html>
